<%-include('./cabecalho.ejs')%>
<!-- bloco principal -->
<main id="main" class="main">
  <div class="pagetitle">
    <h1></h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Principal</a></li>
        <li class="breadcrumb-item active"></li>
        <li class="breadcrumb-item active"></li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
   
  </section>
</main>
<!-- End #main -->



<%-include('./rodape.ejs')%>